body {
  margin: 0px;
  padding: 10px;
  height: 100%;
  background-color: #faeed8;
}
img {
  max-width: 100%;
  max-height: auto;
}

h1 {
  font-family: Castoro;
}

h3 {
  font-family: Bebas Neue;
}

p {
  font-family: Ubuntu;
}

.intro {
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
  display: grid;
  grid-template-columns: repeat (8, 1fr);
  grid-template-rows: 60px auto;
  grid-template-areas:
    "a a a b b b b b"
    "a a a b b b b b";
}

.part-a {
  grid-area: a;
}

.part-b {
  grid-area: b;
  color: #0e0f14; 
  padding:10px ;
  background-color: #CB8589;
}


.container1 {
  height: 100%;
  margin-top: 20px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat (9, 1fr);
  grid-template-rows: 20px auto 40px;
  grid-template-areas:
    "a a a b b b c c c"
    "a a a b b b c c c"
    "a a a b b b c c c";
}

.container1 > div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sec-a {
  grid-area: a;
  font-size: large;
  color: #0e0f14
}

.sec-b {
  grid-area: b;
}

.sec-b > p {
  font-size: medium;
  color: #0e0f14
}

.sec-c {
  grid-area: c;
}

.block-c {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    text-align: center;
  }




