body {
  margin: 0px;
  padding: 30px;
  height: 100%;
  background-color: #f3d8a5;
}
img {
  max-width: 70%;
  max-height: auto;
  object-fit: cover;
}

h1 {
  font-family: Castoro;
}

h3 {
  font-family: Bebas Neue;
}

h2 {
  font-family: Bebas Neue;
}

h4 {
  font-family: Bebas Neue;
}

p {
  font-family: Ubuntu;
}

i {
  font-size: 80px;
}

a {
  text-decoration: none;
  font-size: large;
  color: inherit;
}

a:hover {
  color: red;
}

a:focus{
  color: inherit;
}



/* an h2 that says 'my projects' */
.MP{
  display: flex;
  font-size: 40px;
  justify-content: center;

}

#mytitle {
  font-size: 29px !important;
}

#sk{
  display: flex;
  font-size: 40px;
  justify-content: center;
}

.intro {
  display: flex;
  height: 100%;
  background-color: #0e0f14;
  color: white;
  padding: 1.5rem 0rem 1.5rem 1.5rem;
  margin-top: 20px;
  border-radius: .40rem;
  grid-gap: 10px;
}

.langs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  border-radius: .40rem;
  color: white;
  background-color: #0e0f14;
  font-size: 20px;
}

.langs:hover{
  animation: pulse 2.25s ease-in-out;
  animation-timing-function: linear;
  color: inherit;
}

.headshot {
  justify-content: center;
  display: flex;
}



#bio > h1{
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

#bio > p {
  font-size: 21px;
}
.part-a {
  grid-area: a;
  border-radius: .40rem;
}

.part-b {
  grid-area: b;
  color: white;
  word-wrap: break-word;
  padding-left: 34px;
  padding-right:34px;
  background-color: #0e0f14;
}

.container {
  height: 100%;
  padding: 20px;
  margin: 30px;
  vertical-align: middle;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
}

.container > div {
  text-align: center;
  color: white;
  align-items: center;
}

/* For quote in the middle of page */
.center-item {
  grid-column-start: 2;
  grid-column-end: 3;
}

.block-c {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 150px;
  grid-gap: 1rem;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: .40rem;
  word-wrap: break-word;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  text-align: center;
}

.project {
  width: 10rem;
  border-radius: .40rem;
  height: auto;
  font-size: 20px;
  background-color: white;
}

.xp{
  width: 20rem;
  border-radius: .40rem;
  height: auto;
  font-size: 25px;
  background-color: white;
}


#quote {
  color: transparent;
  background-image: url(use-this-dave.jpg);
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 85px;
  font-weight: bold;
  animation: mymove 12s infinite;
  animation-timing-function: linear;
}

@keyframes mymove { 
  0% { color:transparent; background-position: top}
  50% { color:white; background-position: bottom}
  100% { color:white}
}

@keyframes pulse {
  0% { color:white;}
  25% { color:rgb(228, 72, 72);}
  50% { color:rgb(160, 41, 41);}
  75% { color:rgb(228, 72, 72);}
  100% { color:white}
}


.grow { 
  transition: all .2s ease-in-out; 
  }
  
.grow:hover { 
transform: scale(1.1); 
}

.slowgrow { 
  transition: all .5s ease-in-out; 
  }
  
.slowgrow:hover { 
transform: scale(1.06); 
}

#endcards {
  font-size: 1rem;
  display: flex;

}
/* ----------------------------------- */
/* for tablets */
@media only screen and (max-width: 867px) {
  #introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .part-b {
    text-align: center;
  }
  #quote {
    animation: none
  }
}
/* For mobile */
@media only screen and (max-width: 750px) {
  .intro {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
  }
  .langs {
    flex-direction: column;
    text-align: center;
  }
  .part-a {
    text-align: center;
  }

  .part-b {
    color: white;
    padding: 10px;
    background-color: #0e0f14;
  }

  #introduction {
    display: flex;
    flex-direction: column;
    
  }

  #headshot {
    width: 100%;

  }

  #icons {
    display: none;
  }

  #quote {
    font-size: 80px;
    animation: none;
  }
}
